.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f; /* Dark background */
  padding: 10px 20px;
  border-bottom: 1px solid #333; /* Dark border */
}

.banner-left {
  display: flex;
  align-items: center;
}

.banner-logo {
  width: 200px;
  height: 80px;
  margin-right: 10px;
}

.banner-username {
  font-size: 18px;
  font-weight: light;
  color: lightgrey;
}

.banner-right {
  display: flex;
  align-items: center;
}

/* Email icon styles */
.banner-email {
  width: 24px;
  height: 24px;
  color: #ccc; /* Subtle icon color */
  transition: color 0.2s;
  margin-right: 20px; /* Increased spacing between email and settings icons */
}

.banner-email:hover {
  color: #fff; /* Brighten icon on hover */
}

/* Settings icon styles */
.banner-settings {
  width: 24px;
  height: 24px;
  color: #ccc; /* Subtle icon color */
  transition: color 0.2s;
}

.banner-settings:hover {
  color: #fff; /* Brighten icon on hover */
}