.eventDashboard {
  background-color: #1f1f1f;
  width: 320px;
  height: 100%;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  box-sizing: border-box;
  color: #ccc;
}

.dashboardHeader {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

.eventList {
  /* flex: 1; */
  overflow-y: auto;
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.eventGroup {
  margin-bottom: 1rem;
}

.groupHeader {
  font-size: 0.85rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #fff;
  padding-bottom: 0.25rem;
}

.eventItem {
  background-color: #2a2a2a;
  border-radius: 10px;
  padding: 0.75rem;
  width: 86%;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
  border: 1px solid #333;
  color: #ccc;
}

.eventItem:hover {
  background-color: #333;
}

.eventItem.active {
  background-color: #004ec2;
  border-left: 4px solid #0066ff;
  color: #fff;
}

.eventTitle {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

/* New styling for event address */
.eventAddress {
  color: #aaa;         /* Light grey */
  font-weight: 300;     /* Lighter font weight */
  margin-left: 4px;
}

.eventDescription {
  font-size: 0.8rem;
  color: #aaa;
}